*{box-sizing: border-box;
   margin:0px;}
header {
        height:15rem; 
        width: 100%;
}

header h1 {
        position:absolute; 
        top: 4rem;
        height: 10%; 
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Raleway', sans-serif;
        font-size: 450%;
}

nav { position:absolute;
      width:100%;
      height:4.5rem;
      margin-right:1rem;
      margin-bottom:1rem;
      margin-left:1rem;
      color:white;
      background-color:black;
      list-style-type: none; 
}

a:hover {color:darkgray;}

nav li {float:left; list-style-type: none;
                    
}

.portfolio, .linkedin {float:left;
                        padding-left:1rem;
                        padding-right:2rem;
                        margin-left:1rem;
                        margin-right:1rem;}

.blog, .fashion, .projects, .weird {float:left;
                                    clear:none;
                                    padding-left:1rem;
                                    padding-right:2rem;
                                    margin-left:1rem;
                                    margin-right:1rem;}


h2 { font-family: 'Waiting for the Sunrise', cursive;}
h3 { font-family: 'Waiting for the Sunrise', cursive;}

article {  
          top:0;
          height:15rem; 
          width:70%;
          padding:1rem;
          margin-left: 10%;
          margin-right:10%; 
          margin-top:3rem;
          margin-bottom:1rem; 
}

article img { max-width: 20%;
  float: left;
  clear:both;
  padding-right:1rem;
  padding-bottom: 1rem;}

aside { position:absolute;
        margin-right:30%; 
        margin-left:10%; 
}

p {  
  font-size: 110%;
  font-family: 'Didact Gothic', sans-serif; }

i .fa fa-envelope-o, .fa fa-facebook-official, .fa fa-instagram, .fa fa-linkedin      {float:left;
    position:absolute;
    margin-right:50%;   
    margin-left:50%;}

footer {position:absolute;
    float:left;
    margin-right:10%;
        margin-left:5%;
        margin-top:80%;
}

a {font-family: 'Architects Daughter', cursive;
    color:gainsboro;
    font-size:110%;
    text-decoration: none;}

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
    
}

.span_1_of_23 {
	width: 49.2%;
  float:right;
  padding bottom:3rem;
``margin bottom: 50%;}
}
